{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Добро пожаловать</h1>
    <div class="bd-example" align="middle">
        <img src="{{url_for('static', filename='1802.jpg')}}" align="middle" />
    </div>
        <div class="alert alert-success" role="alert">
            <h5 class="text-center">✓ Сервис для покупателей и доставщиков</h5>
        </div>

        <div class="text-center">
            {% if current_user.is_authenticated %}
                {% if current_user.is_postman %}
                    <a class="btn btn-primary ml-2" href="/postman">Изменить состояние заказа</a>
                    <a class="btn btn-primary ml-2" href="/list">Выбрать заказ</a>
                {% elif not current_user.is_postman %}
                    <a class="btn btn-primary ml-2" href="/orders">Подтвердить заказ</a>
                    <a class="btn btn-primary ml-2" href="/orders">Текущие заказы</a>
                {% endif %}
            {% else %}
                <div class="alert alrt-dark">
                    <h5>Вы не вошли в систему.</h5>
                </div>
            {% endif %}
        </div>
{% endblock %}