{% extends "base.html" %}

{% block content %}
<h1>Изменение статуса заказа</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {% if message %}
        <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
    <p>
        {{ form.hidden_tag() }}
        {{ form.statuses }}
        {% for error in form.statuses.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}